@font-face{
    font-family: "Shabnam-FD";
    src: url(../Fonts/woff2/Shabnam-FD.woff2) format(woff2);
}

*{
    box-sizing: border-box;
    margin: 0;
}

body {
    font-family: "Shabnam-FD", sans-serif;
    background-color: #FAFAFA;
}

.container {
    max-width: 1216px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 56px;
}

.section_head {
    display: flex;
    justify-content: space-between;
}

.section_title {
    display: flex;
    align-items: center;
    gap: 6px;
}

.section_title_icon {
    width: 22px;
    height: 22px;
    color: #00bfff;
}

main {
    padding: 20px
}
.container a{
    text-decoration: none;
    color: rgb(10, 188, 242);
    font-size: 16px;
}

.container-1{
    display: flex;
    gap: 24px;
}

.product{ 
    margin: 10px;
    padding: 22px;
    width: 287px;
    box-shadow: inset 0 0 5px 3px #666;
    text-align: center;
    background-color: #fff;
    font-size: 15px;
}

.products {
    display: flex;
    margin-left: auto;
    margin-right: auto;
}
.product img{
    width: 100%;
}

.product-name{
    font-weight: normal;
    line-height: 1.6;
    margin-top: 14px;
    height: 68px;
    font-size: 14px;
}
.product a{
    color: black;
    text-decoration: none;
    margin: 10px 0;
}
.offer {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-top: 12px;
    font-size: 14px;
}

.offer-discount{
    color: #00bfff;
    background-color: #E3F2FD;
    padding: 2px 4px;
    border-radius: 4px;
    font-weight: bold;
    display: inline-block;
}

.offer-price {
    text-decoration: line-through;
    color: #546E7A;
}

.offer-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 5px;
}

.price{
    display: flex;
    gap: 4px;
    align-items: center;
}

.new-price {
    font-size: 18px;
    font-weight: bold;
}


.price-unit {
    font-size: 14px;
}

.offer-rating{
    display: flex;
    gap: 4px;
    align-items: center;
    justify-content: space-between;
    bottom: 18px;
    position: relative;
}

.product-rate {
    font-size: 14px;
    color: #546E7A;
}

.star {
    width: 18px;
    height: 18px;
    color: #f1c21b;
}




